/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* css */
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* <uniquifier>: Use a uniquifier for the class name
<weight>: Use a value from 100 to 1000 */

/* .dm-sans-<uniquifier> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* global */
html,
body {
  height: 100%;
  background: #74953D;
}

/* header */

.navlink{
  text-decoration: none;
  color: #fef446;
}
.navtitle
{
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
}

.navtitlewhite{
  color: white;
}


nav {
  background-color: #8dcc23;
  border-bottom: black solid 2px;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}



/* form */
.form {
  display: flex;
  flex-flow: column;
  width: 50%;
  margin: 20px auto;
  padding: 10px 0px;
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
}
@media screen and (max-width: 576px){
  .form{
    width: 90%;
  }
}

.formLines {
  width: 95%;
  display: flex;
  align-items: start;
  flex-flow: column;
  gap: 10px;
  margin: 10px 5px;
  font-family: "DM Sans", sans-serif;
}

.formLinescgu {
  width: 95%;
  display: flex;
  align-items: start;
  flex-flow: row;
  gap: 10px;
  margin: 10px 5px;
  font-family: "DM Sans", sans-serif;
}

.inputdescription{
  margin: 10px 5px;
  width: 90%;
  height: 100px;
  resize: none;
}

.traveldate, .traveltime , .traveldistance, .inputforms {
  margin-left: 10px;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
}

.traveltype, .entrepriseForms {
  margin-left: 5px;
  width: 92%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "DM Sans", sans-serif;
}

.errorText {
  color: red;
  margin: 0;
}

.submitButton {
  margin-left: 5px;
  background-color: white;
  border: solid 1px #fef446;
  border-radius: 10px;
  padding: 5px;
  transition: 0.3s ease-out;
  width: 50%;
}
.submitButton:hover {
  background-color: #fef446;
  transition: 0.3s ease-out;
}

.signedupyet {
  font-family: "DM Sans", sans-serif;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.signlink{
  color: #fef446;
}

.formlabels {
  color: #fef446;
}
/*Home */
/* color scheme : #74953D , second #fef446 else white */
.body {
  display: flex;
  margin: 0 auto;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  margin-top: 20px;
  
}
@media screen and (max-width: 576px){
  .body{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px){
  .body{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
  }
}

.welcome{
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: white;
}
.welcomeyellow, .travelyellow{
  color:#fef446;
}

.userinfos{
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}

.date {
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
  text-transform: capitalize;
}

.profilepicture {
  width: 100px;
  height: 100px;
  border-radius: 50%;

}

.homebuttons{
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.profilebtn, .addtravelbtn,.travelhistorybtn{
  width: 200px;
  height: 30px;
  border: solid 0.5px #fef446;
  border-radius: 10px;
  transition: 0.3s ease-out;
  background-color: rgba(0,0,0,0);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}
.profilebtn:hover, .addtravelbtn:hover,.travelhistorybtn:hover {
  background-color: #fef446;
  transition: 0.3s ease-out;
}

.logoutbtn {
  width: 200px;
  height: 30px;
  border: solid 0.5px red;
  border-radius: 10px;
  transition: 0.3s ease-out;
  background-color: rgba(0,0,0,0);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}
.logoutbtn:hover
{
  background-color: red;
  transition: 0.3s ease-out;
}

.travelwelcome {
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin: 10px 0px;
}

.travel{
  margin-left: 10px;
  font-family: "DM Sans", sans-serif;
  line-height: 1.3rem;
  color: white;
}

.formatteddate{
  text-transform: capitalize;
}

.travelbuttons{
  margin-top: 10px;
}

.deletebtn {
  width: 150px;
  height: 30px;
  border: solid 0.5px red;
  border-radius: 10px;
  transition: 0.3s ease-out;
  background-color: rgba(0,0,0,0);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}
.deletebtn:hover
{
  background-color: red;
  transition: 0.3s ease-out;
}
.addbtn{
  margin-left: 10px;
  width: 150px;
  padding: 5px;
  border: solid 0.5px #fef446;
  border-radius: 10px;
  transition: 0.3s ease-out;
  background-color: rgba(0,0,0,0);
  font-family: "Kanit", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1rem;
}
.addbtn:hover
{
  background-color: #fef446;
  transition: 0.3s ease-out;
}

